.Notebook {
    width: 100%;
    height: 100%;
}

.NbContainer {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.HasContainer {
    margin-top: 32px;
}