/* mobile first */
.ColumnPage {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 768px) and (max-width: 991px) {
    .ColumnPage {
        max-width: 750px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .ColumnPage {
        max-width: 970px;
    }
}

@media(min-width: 1200px) {
    .ColumnPage {
        max-width: 1170px;
    }
}